.home {
  display: flex;
}

.f12 {
  display: flex;
  gap: 53px;
}
img {
  padding-left: 162px;
  padding-right: 162px;
  padding-top: 122px;
  margin-top: 100px;
}

.back {
  background-image: url(./image.png);
  background-repeat: no-repeat;

  margin: 12px;
  display: auto;
}

.f1 input {
  border-radius: 7px;
  height: 25px;
}

.f2 input {
  border-radius: 7px;
  height: 25px;
}
#password {
  border-color: red;
}

#name {
  border-color: green;
}
#name:focus {
  background-color: rgb(181, 228, 228);
}
.f3 input {
  background-color: green;
  border: none;
  width: 222px;
  height: 30px;
  border-radius: 10px;
}

.f4 input {
  color: green;
  border: none;
}
.f4 {
  display: flex;
}
